@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  font-family: roboto;
}

body{
  background-color: #f8f8f8;
  margin:0;
}

header{
  background-color: #FF5758;
  padding:10px 0px;
  width:100%;
  height:90px;
  position:fixed;
  z-index:100;
}

.headerSpacing{
  padding:45px;
}

.headerContent{
  width:100%;
  display:flex;
  justify-content:space-between;
  padding: 0 5%;
  align-items: center;
  position:absolute;
  bottom:10px;
  padding:0% 5%;
}

.headerContent > p{
  margin:0;
  padding:0;
}

.headerContent > img{
  max-height:35px
}

.logo{
  font-family: anton;
  color:white;
  font-size:1.75rem;
  font-weight:normal;
}

.profilePic{
   width:35px;
   height:35px;
   background-color:white;
   border-radius:100%;
}

.testing{
  margin-top:100px;
}

footer{
  background-color: #FF5758;
  display:flex;
  justify-content:space-between;
  padding:10px 5%;
  position:fixed;
  bottom:0px;
  width:100%;
  z-index:100;
}

.footerIcon{
  max-height:35px;
}

.recipeTitle{
  color:#4c4c4c;
  font-size:1.35rem;
  padding-left:5%;
  font-weight:800;
}

.recipeFooter{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:6px 5%;
}

.recipeDivider{
  text-align:center;
  background-color:#C5C5C5;
  opacity:.85;
  margin:1rem 1rem 1rem 1rem;
}

.prepTime{
  color: #FF5758;
  font-weight:400;
  font-size:1.15rem;
}

.favoriteIcon{
  right:5%;
  font-size:1.75rem;
  color:#FF5758
}

.recipeImageDiv{
  display:flex;
  justify-content:center;
  align-items:center;

}
.recipeImage{
  width:90%;
  object-fit: contain
}

.noMoreRecipes{
  color: #6c6c6c;
  text-align:center;
}

.noMoreIngredients{
  color: #6c6c6c;
  text-align:center;
  height: 50px;
  margin: 5px, 0, 0, 0;
}

.background {
  background-color: #f8f8f8
}

.red {
  color: #FF5758;
  font-size: 20px;
}

.add-input {
  border-radius: 34px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  z-index:1;
}

.recipeDetailsImageDiv{
  width:100%;
  height:30%;
  display:inline-block;
}

.recipeDetailsImage{
  width:100%;
  max-height:150px;
  object-fit:cover;
}

.pointer {
  cursor: pointer;
}

.recipeTitleDiv{
  position:relative;
  padding:5%;
  z-index:0;
}

.favoriteIconDetails{
  position: absolute;
  right:5%;
  top:25%;
  font-size:1.75rem;
  color:#FF5758
}

.recipeDetailsTitle{
  color: #444444;
  font-size:1.35rem;
  font-weight:500;
}

.recipeDetailsPrepTime{
  color: #FF5758;
  font-weight: 400;
  font-size:1.25rem;
}

.recipeDetailsIngredients, .recipeDetailsInstructions{
  padding:2.5% 5%;
}

.ingredientsHeader{
  color:#444444;
  font-weight:400;
}
.ingredientsList{
  display:flex;
  flex-wrap: wrap;
  color:#444444;
}

.ingredientsListItem{
  flex-basis:50%;
  color:#5C5C5C
}

.instructionListItem{
  margin:25px 0px;
  color:#444444;
  line-height:1.50rem;
  font-size:1.00rem;
}

.instructionsList{
  padding:0 5%;
  color:#444444;
}
.doneCookingDiv{
  display:flex;
  justify-content:center;
}
.doneCookingButton{
  margin:10px;
  background-color:#30B6BE;
  color:white;
  font-family:oswald;
  letter-spacing:0px;
  font-weight:600;
  font-size:1.25rem;
  padding:12px;
  width:80%;
}

.closeButton{
  font-size: 28px;
  color: red
}

.doneCookingOpacity{
  width: 100%;
  height: 100%;
  position:fixed;
  z-index:100;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin: 0;
  padding: 0;
  background-color:rgba(0, 0, 0, 0.8);
}

.doneCookingModal{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:white;
  width:80%;
  border-radius: 25px;;
  padding:25px;
  text-align:center;
}

.bonApetit{
  color:#FF5758;
  font-weight:500;
  font-size:1.5rem;
}

.doneCookingText{
  color:#444444;
  font-weight:400;
  font-size:1rem;
}

.doneCookingImageDiv{
  height:100px;
}

.getCookinImage{
  height:125px;
  margin:25px;
}

.doneCookingButton{
  margin:10px;
  background-color:#30B6BE;
  color:white;
  font-family:oswald;
  letter-spacing:0px;
  font-weight:600;
  font-size:1.25rem;
  padding:12px;
  width:95%;
}

.notEnoughIngredientsDiv{
  display:flex;
  height:80vh;
  margin:auto 0;
  justify-content:center;
  align-items:center;
}

.notEnoughIngredientsContent{
  height:100%;
  margin:auto 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.notEnoughIngredienstTitle{
  color:#444444;
  font-size:1.50rem;
}

.notEnoughIngredientsImage{
  height:125px;
  margin:25px 0px;
}

.notEnoughIngredientsMessage{
  color:#FF5758;
  font-size:1.35rem;
}

.notEnoughIngredientsButton{
  margin:10px 0px;
  background-color:#30B6BE;
  color:white;
  font-family:oswald;
  letter-spacing:0px;
  font-weight:600;
  font-size:1.25rem;
  padding:10px;
  width:100%;
  border:none;
}

.searchRecipeTitle{
  font-size:1.15rem;
  font-weight:400;
}
.searchRecipeImage{
  max-height:50px;
  width:50px;
  object-fit:cover;
  display:inline-block;
}

.searchLeftContent{
  display:inline-block
}

.searchItem{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:0% 5%;
}

.searchLeft{
  display:flex;
  align-items:center;
}

.searchPrepTime{
    color: #FF5758;
  font-weight:400;
  font-size:1rem;
}
.searchLink{
  color:#444444;
}

.searchInputDiv{
  display:flex;
  justify-content:center;
  align-items:center;
  height:75px;
  background-color: #FF5758;
}
.searchInput{
  width:90%;
  margin:25px 0px;
}
