@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  font-family:roboto;
}

body{
  background-color: #f8f8f8;
  margin:0;
}

header{
  background-color: #FF5758;
  padding:10px 0px;
  width:100%;
  height:90px;
  position:relative;
}

.headerContent{
  width:100%;
  display:flex;
  justify-content:space-between;
  padding: 0 5%;
  align-items: center;
  position:absolute;
  bottom:10px;
  padding:0% 5%;
}

.headerContent > p{
  margin:0;
  padding:0;
}

.headerContent > img{
  max-height:35px
}

.logo{
  font-family: anton;
  color:white;
  font-size:1.75rem;
  font-weight:normal;
}

.profilePic{
   width:35px;
   height:35px;
   background-color:white;
   border-radius:100%;
}

.testing{
  margin-top:100px;
}

footer{
  background-color: #FF5758;
  display:flex;
  justify-content:space-evenly;
  padding:10px 0px;
  position:fixed;
  bottom:0px;
  width:100%;
}

.footerIcon{
  max-height:35px;
}

.recipeTitle{
  color:#4c4c4c;
  font-size:1.35rem;
  margin-left:2.5%;
}

.recipeFooter{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:6px 5%;
}

.recipeDivider{
  text-align:center;
  background-color:#C5C5C5;
  opacity:.85;
  margin:0 1rem 1rem 1rem;
}

.prepTime{
  color: #FF5758;
  font-weight:400;
  font-size:1.15rem;
}

.favoriteIcon{
  right:5%;
  font-size:1.75rem;
  color:#FF5758
}

.recipeImageDiv{
  display:flex;
  justify-content:center;
  align-items:center;

}
.recipeImage{
  width:90%;
  object-fit: contain
}

.noMoreRecipes{
  color: #6c6c6c;
  text-align:center;
}

.noMoreIngredients{
  color: #6c6c6c;
  text-align:center;
  height: 50px;
  margin: 5px, 0, 0, 0;
}

.background {
  background-color: #f8f8f8
}

.red {
  color: #FF5758;
  font-size: 20px;
}

.add-input {
  border-radius: 34px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)

}
